<div class="actionpanel" *ngIf="effect.code != 'many'">
  <div class="actions">
    <fa size="1" name="trash" (click)="trash.emit(effect)"></fa>
  </div>
</div>
<div class="effect">
  <ng-container [ngSwitch]="effect.code">
    <span *ngSwitchCase="'end'">
      game!
    </span>
    <span *ngSwitchCase="'sound'">
      Play <span #vEffectSound (click)="opEffectSound.toggle($event, vEffect)">{{effect.sound || '-choose-'}}</span>
      <p-overlayPanel #opEffectSound>
        <div *ngFor="let sound of game.sounds">
          <p-radioButton name="sound" value="{{sound}}" [label]="sound" [(ngModel)]="effect.sound"></p-radioButton>
        </div>
      </p-overlayPanel>
    </span>
    <span *ngSwitchCase="'many'">
      <div>Many effects</div>
      <div *ngFor="let e of effect.list">
        <div app-view-effect [effect]="e" (trash)="effect.list.splice(effect.list.indexOf(e), 1)"></div>
      </div>
    </span>
    <span *ngSwitchCase="'message'">
      message <textarea [(ngModel)]="effect.text"></textarea>
    </span>
    <span *ngSwitchCase="'when'">
      when <div app-view-condition [condition]="effect.condition"></div>
      <div app-add-condition [condition]="effect.condition" (replace)="effect.condition = $event"></div>
      then <div app-view-effect [effect]="effect.effect"></div>
      <div app-add-effect [effect]="effect.effect" (updateEffect)="effect.effect = $event"></div>
    </span>
    <span *ngSwitchCase="'gain'">
      gain <input type="text" pInput [(ngModel)]="effect.item" />
    </span>
    <span *ngSwitchCase="'score'">
      score <input type="text" pInput [(ngModel)]="effect.item" /> <input type="number" pInput [(ngModel)]="effect.value" />
    </span>
    <span *ngSwitchCase="'drop'">
      drop <input type="text" pInput [(ngModel)]="effect.item" />
    </span>
    <span *ngSwitchCase="'once'">
      once <input type="text" pInput [(ngModel)]="effect.item" />
      <div app-view-effect [effect]="effect.first"></div>
      <div app-add-effect [effect]="effect.first" (updateEffect)="effect.first = $event"></div>
      <div app-view-effect [effect]="effect.others"></div>
      <div app-add-effect [effect]="effect.others" (updateEffect)="effect.others = $event"></div>
    </span>
  </ng-container>
</div>
