<span class="condition" *ngIf="condition">
  <ng-container [ngSwitch]="condition.code">
    <span *ngSwitchCase="'have'">
      have(<input type="text" pInput [(ngModel)]="condition.item" />)
    </span>
    <span *ngSwitchCase="'range'">
      item(<input type="text" pInput [(ngModel)]="condition.item" /> in range
      <input type="number" pInput [(ngModel)]="condition.minval" /> -
      <input type="number" pInput [(ngModel)]="condition.maxval" />
    </span>
    <span *ngSwitchCase="'and'">
      and(<span app-view-condition *ngFor="let c of condition.conditions" [condition]="c"></span>
      <span app-add-condition [condition]="condition"></span>
      )
    </span>
    <span *ngSwitchCase="'or'">
      or(<span app-view-condition *ngFor="let c of condition.conditions" [condition]="c"></span>
      <span app-add-condition [condition]="condition"></span>
      )
    </span>
    <span *ngSwitchCase="'not'">
      <span app-view-condition [condition]="condition.condition"></span>
    </span>
  </ng-container>
</span>
