<div class="condition" *ngIf="condition">
  <span #vConditionCode (click)="opConditionCode.toggle($event, vConditionCode)">{{condition.code || '-change-'}}</span>
  <p-overlayPanel #opConditionCode>
    <div *ngFor="let code of conditions">
      <p-radioButton name="condition" value="{{code}}" [label]="code" [(ngModel)]="condition.code"></p-radioButton>
    </div>
  </p-overlayPanel>
  <ng-container [ngSwitch]="condition.code">
    <span *ngSwitchCase="'have'">
      <input type="text" pInput [(ngModel)]="condition.item" />
    </span>
    <span *ngSwitchCase="'range'">
      <input type="text" pInput [(ngModel)]="condition.item" />
      <input type="number" pInput [(ngModel)]="condition.minval" />
      <input type="number" pInput [(ngModel)]="condition.maxval" />
    </span>
    <span *ngSwitchCase="'and'">
      <div app-view-condition *ngFor="let c of getConditionList()" [condition]="c"></div>
      <button pButton label="(+)" (click)="addConditionToList()" ></button>
    </span>
    <span *ngSwitchCase="'or'">
      <div app-view-condition *ngFor="let c of getConditionList()" [condition]="c"></div>
      <button pButton label="(+)" (click)="addConditionToList()" ></button>
    </span>
    <span *ngSwitchCase="'not'">
      <div app-view-condition [condition]="condition.condition"></div>
    </span>
  </ng-container>
</div>
